doctype html 
html 
  head 
    title Deepak Dance Academy
    block scripts 
    block style 
  body 
    nav#navbar
        ul
            div#logo
                img(src="/static/logo.png", alt="logo")
                |    DDA
            li #[a Home]
            li #[a About]
            li #[a Services]
            li #[a Class Info]
            li #[a Contact Us]
    
    block content
    footer#footer
        | Copyright © 2023 DeepakDanceAcademy.com | All right reserved