// index - pug
doctype html 
html 
  head 
    style 
      include ../static/style.css
  body 
    nav#navbar
        ul
            div#logo
                img(src="/static/logo.png", alt="logo")
                |    DDA
            li #[a Home]
            li #[a About]
            li #[a Services]
            li #[a Class Info]
            li #[a Contact Us]
    
    section#introSection 
        div.note Welcome to Deepak's Dance Academy
        div.small Eat Sleep Dance Repeat


    section#missionSection 
            h2 Our Mission :-
    div.cards
            div.card
                h3 Dance Perfection
                div.card-box
                    div.card-img
                        img(src="/static/1.jpg", alt="1")
                    .card-content   
                        p Step 1 :- Start Feeling the music.
            div.card
                h3 Dance the way you like
                div.card-box
                    div.card-img
                        img(src="/static/2.jpg", alt="2")
                    .card-content   
                        p Step 2 :- Try to pickup the beats.
            div.card
                h3 Expert Teaching
                div.card-box
                    div.card-img
                        img(src="/static/3.jpg", alt="3")
                    .card-content   
                        p Step 3 :- Let your body to move with Rythm. 

    section#sponsorsSection 
        h3 Our Sponsors
        div#sponsors
            img(src="/static/logo1.png", alt="sponsors-image" class='spimage')
            img(src="/static/logo2.png", alt="sponsors-image" class='spimage')
            img(src="/static/logo3.png", alt="sponsors-image" class='spimage')
            img(src="/static/logo4.png", alt="sponsors-image" class='spimage')

    footer#footer 
        |   Copyright © 2023 DeepakDanceAcademy.com | All right reserved
    script 
      include ../static/index.js